@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream: #F9F4EF;
  --pinkLight: #FFBBCB;
  --purpleLight: #DFBACD;
  --orange: #FF5E43;
  --secondaryGreen: #A6D1BD;
  --secondaryPink: #EE8794;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --color-pinkLight: var(--pinkLight);
  --color-purpleLight: var(--purpleLight);
  --color-orange: var(--orange);
  --color-secondaryGreen: var(--secondaryGreen);
  --color-secondaryPink: var(--secondaryPink);


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-orelega: var(--font-orelega);
  --font-grandstander: var(--font-grandstander);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


@keyframes floatSoft {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes rotateSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dwindle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-float-soft {
  animation: floatSoft 3s ease-in-out infinite;
}

.animate-rotate-slow {
  animation: rotateSlow 20s linear infinite;
}

.animate-dwindle {
  animation: dwindle 3s linear infinite;
}
